<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyx.common.ticket.mapper.TCarriageMapper">

    <resultMap id="BaseResultMap" type="com.xyx.index12306.model.ticket.entry.TCarriage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="trainId" column="train_id" jdbcType="BIGINT"/>
            <result property="carriageNumber" column="carriage_number" jdbcType="VARCHAR"/>
            <result property="carriageType" column="carriage_type" jdbcType="INTEGER"/>
            <result property="seatCount" column="seat_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,train_id,carriage_number,
        carriage_type,seat_count,create_time,
        update_time,del_flag
    </sql>
</mapper>
